.flex{
    display: flex;
}

nav ul li{
    list-style: none;
    font-size: medium;
    padding: 0 16px;
}

.uppercase{
    text-transform: uppercase;
}
.logo{
    margin-left: 40px;
}
.mx-2{
    margin-right: 100px;
 }
 header{
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
    padding-top: 50px;
 }
 .container{
    max-width: 90pw;
    padding: 0 20px;
    position: sticky;
    top: 0;
    background-color: white;
    height: 20%;
    
 }
 .section1{
    padding-top: 10px;
    background-color: aliceblue;
    height: 400vh;
 }
.desktop-search{
    width: 32vw;
    margin-top: 15px;
    border-radius: 2px;
    background-color: azure;
}
.homeimg{
    margin-left: 30px;
}